default:
    suites:
        default:
            contexts:
                - Integration\EOffice\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel: EOffice\Kernel
