default:
    suites:
        default:
            contexts:
                - Integration\EOffice\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            #bootstrap: ./config/preload.php
            kernel:
                #class: EOffice\Kernel
                #debug: true
                environment: test
