default:
    suites:
        default:
            contexts:
                - Integration\EOffice\DemoContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: EOffice\Core\Kernel
                debug: true
