default:
    suites:
        default:
            contexts:
                - 'Integration\EOffice\DemoContext'
    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/fixtures/Resources/bootstrap.php'
            kernel:
                class: EOffice\Kernel
                environment: test
                path: src/Kernel.php
                debug: true
